<%- include ('partials/_header') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                      <% for(let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td>
                                <%= (i + 1) %>
                            </td>
                            <td>
                                <%= data[i].name %>
                            </td>
                            <td>
                                <%= data[i].address %>
                            </td>
                            <td>
                                <%= data[i].phone %>
                            </td>
                            <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                <a href="/update/<%= data[i].id %>" class="btn btn-info">Update</a>
                            </td>
                        </tr>
                      <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post" id="form-Resig">
                        <div class="form-group">
                            <label for="name" class="mt-2">Name:</label>
                            <input type="text" name="name" placeholder="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="address" class="mt-2">Address:</label>
                            <input type="text" name="address" placeholder="address" class="form-control" id="address">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="mt-2">Phone:</label>
                            <input type="text" name="phone" placeholder="phone" class="form-control" id="phone">
                        </div>
                        <div class="g-recaptcha mt-2" data-sitekey="6LcZuQkmAAAAAGvOZg6O7nItSw7UxW9rAsIiZP84" name="recaptcha"></div>
                        <button type="submit" class="btn btn-primary mt-2">Save customer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>const a = document.getElementById('form-Resig'); 
        a.addEventListener("submit", (event) => {const name = document.querySelector('input[name = "name"]');const address = document.querySelector('input[name = "address"]');const captacha = grecaptcha.getResponse()
            if(name.value.trim() === "" || address.value.trim() === ""){
                event.preventDefault();
                alert("Los campos nombre y dirección son obligatorios");
            } else if (captacha.length == 0) {
                event.preventDefault();
                alert("Pasa el reCaptcha")
            }
        });
</script>
<%- include ('partials/_footer') %>